Run Query: Find all the tracks whose name starts with 'All'. **How many total records there are for this query?**

In [ ]:
select * from tracks where name like 'All%';
select count(*) from tracks where name like 'All%';

# 15 records

Run Query: Find all the customer emails that start with "J" and are from gmail.com.

In [ ]:
select * from customers where lower(email) like 'j%@gmail.com';
# oder 
select * from customers where email ilike 'j%@gmail.com';

Run Query: Find the albums with 12 or more tracks.

In [ ]:
# Falls nur IDs

select album_id from tracks
    join albums a on tracks.album_id = a.id
    group by album_id
    having count(*) >= 12;

# Falls alle Informationen des Albums
    
with album_ids as (select album_id
                   from tracks
                            join albums a on tracks.album_id = a.id
                   group by album_id
                   having count(*) >= 12)
select a.*
from albums a
where a.id in (select album_id from album_ids);

Create a list of album titles and the unit prices for the artist "Audioslave".

In [ ]:
select a.title, t.name, t.unit_price from artists
    join albums a on artists.id = a.artist_id
    join tracks t on a.id = t.album_id
    where artists.name = 'Audioslave';

Using a subquery, find the names of all the tracks for the album "Californication".

In [ ]:
# Da ein einziges Album gemeint ist, wird angenommen, dass nur eines existiert - sonst das "=" durch "in" ersetzen

select name from tracks
    where album_id = (select albums.id from albums where title = 'Californication');

Find the total number of invoices for each customer along with the customer's full name, city and email.

In [ ]:
select concat(c.first_name, ' ', c.last_name) as fullName,
       c.city,
       c.email,
       (select count(*)
        from invoices i2
        where i2.customer_id = c.id)
from customers c;

After running the query described above, what is the email address of the 5th person, František Wichterlová?

In [ ]:
select email from customers
    where concat(first_name, ' ', last_name) = 'František Wichterlová';
# frantisekw@jetbrains.com
    
# Oder falls mit vorherigen query verknüpft werden soll:
select concat(c.first_name, ' ', c.last_name) as fullName,
       c.city,
       c.email,
       (select count(*)
        from invoices i2
        where i2.customer_id = c.id)
from customers c
limit 1 offset 4;

Retrieve the track name, album, artistID, and trackID for all the albums.

In [ ]:
select t.name as track_name, albums.title as album_title, albums.artist_id, t.id as albums_id  from albums
    join tracks t on albums.id = t.album_id;

What is the song title of trackID 12 from the "For Those About to Rock We Salute You" ?

In [ ]:
select name from tracks
    join albums a on a.id = tracks.album_id
    where tracks.id = 12 and a.title = 'For Those About To Rock We Salute You';
    
# oder mit der Annahme, dass der Song existiert und der Albumtitel stimmt

select name from tracks
    where id = 12;

Retrieve a list with the managers last name, and the last name of the employees who report to him or her. **Who are the reports for the manager named Mitchell?**

In [ ]:
select e1.last_name as manager_last_name, e2.last_name as employee_last_name
from employees e1
         join employees e2 on e1.id = e2.reports_to
where e1.last_name = 'Mitchell'
   or e2.last_name = 'Mitchell'
order by e1.last_name;
    
# King and Callahan report to Mitchell
# Mitchell reports to Adams

Find the name and ID of the artists who do not have albums.

In [ ]:
select name, artists.id from artists
    left join albums a on artists.id = a.artist_id
    where a.id is null;

Use a UNION to create a list of all the employee's and customer's first names and last names ordered by the last name in descending order. **Determine what is the last name of the 6th record** Remember to order things in descending order to be sure to get the correct answer.

In [ ]:
(select first_name, last_name, 'customer' as person from customers)
union
(select first_name, last_name, 'employee' as person from employees)
order by last_name desc;

# Mark Taylor who is a customer

# oder gleich den 6. Eintrag

(select first_name, last_name, 'customer' as person from customers)
union
(select first_name, last_name, 'employee' as person from employees)
order by last_name desc
limit 1 offset 5;

See if there are any customers who have a different city listed in their billing city versus their customer city.

In [ ]:
select first_name, last_name, city, billing_city from customers
join invoices i on customers.id = i.customer_id
where city <> i.billing_city;

# Keine Einträge